/* Google font */
/* @import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Header  */
headerColor {
  background-color: red;
}

.logo {
  padding: 0;
}

.links {
  font-size: 24px;
  font-family: "Quicksand", cursive;
  padding: 0;
  letter-spacing: 3px;
}

/* Large image - home page */

.mainimage {
  width: 100%;
}

.mainimagetext {
  position: absolute;
  color: white;
  padding-left: 5%;
  padding-top: 40%;
  text-transform: uppercase;
  font-size: 40px;
}

.imageText {
  position: absolute;
  color: red;
}

/* NEWS Section */

.newsheading {
  font-family: "Quicksand", cursive;
  font-size: 3em;
  padding-top: 0.2em;
  text-align: center;
}

.newsline {
  color: #dadcde;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 0.5px solid;
}

.newsheadline {
  font-family: "Quicksand", cursive;
  font-size: 1.8em;
  text-align: center;
}

.newstext {
  font-family: "Quicksand", cursive;
  font-size: 1.3em;
  text-align: center;
}

.newstext .newslink {
  font-family: "Quicksand", cursive;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #204051;
}

.newstext .newslink a:link {
  color: #216c94;
  text-decoration: none;
  text-transform: uppercase;
}

.newstext .newslink a:visited {
  color: #3b6978;
  text-decoration: none;
  text-transform: uppercase;
}

.newstext .newslink a:hover {
  color: #3b6978;
  text-decoration: none;
  text-transform: uppercase;
}

.newstext .newslink a:active {
  color: #cae8d5;
  text-decoration: none;
  text-transform: uppercase;
}

/* Team page */
.teamheader {
  /*padding: top right bottom left */
  font-family: "Quicksand", cursive;
  padding: 4% 4% 4% 4%;
  text-align: center;
  font-size: 3em;
}

.skaterList {
  display: block;
}

.skaterThumbPhoto {
  width: 100%;
  padding: 4% 4% 4% 4%;
  border-radius: 50px;
  border: 5px solid darkslategrey;
}

@media (max-width: 540px) {
  .skaterThumbPhoto {
    padding-left: 15%;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-right: 15%;
  }
}

.skaterName {
  text-align: center;
  padding: 2% 1% 1% 1%;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: bold;
}

@media (max-width: 540px) {
  .skaterName {
    font-size: 2.5em;
    letter-spacing: 3px;
    font-family: "Quicksand", cursive;
    font-weight: bold;
  }
}

/* Roller derby 101 page */
.derby101Header {
  text-align: center;
  letter-spacing: 3px;
  font-family: "Quicksand", cursive;
  padding: 1% 1% 1% 1%;
  font-size: 1.5em;
}

.derby101Video {
  height: 500px;
  width: 100%;
}

.linkText {
  margin: 18px;
}

.derby101Links {
  padding: 1% 2% 1%;
  text-align: center;
  font-family: "Quicksand", cursive;
  font-size: 1.4em;
}

.derby101Links a:link {
  color: #204051;
  text-decoration: none;
  text-transform: uppercase;
}

.derby101Links a:visited {
  color: #3b6978;
  text-decoration: none;
  text-transform: uppercase;
}

.derby101Links a:hover {
  color: #3b6978;
  text-decoration: none;
  text-transform: uppercase;
}

.derby101Links a:active {
  color: #cae8d5;
  text-decoration: none;
  text-transform: uppercase;
}

.derby101SubHeader {
  text-align: center;
  font-family: "Quicksand", cursive;
  font-size: 1.6em;
  padding: 0.5%;
}

/* Contact us page */
.contactPageHeader {
  font-family: "Quicksand", cursive;
  /*padding: top right bottom left */
  padding: 2% 1% 1% 1%;
  text-align: center;
}

.contactPageAddress {
  font-family: "Quicksand", cursive;
  font-size: 170%;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: center;
}

.contactPageMap iframe {
  border: 0;
  width: 75%;
  margin: 0 auto;
  display: block;
}

.contactPageFormHeader {
  font-family: "Quicksand", cursive;
  padding: 1% 1% 1% 1%;
  text-align: center;
}

.contactPageForm {
  font-family: "Quicksand", cursive;
  padding: 1% 25% 1% 25%;
}

/* Footer */
.main-footer {
  background-color: #343a40;
}

.addressStyle {
  font-size: 1em;
  font-family: "Quicksand", cursive;
  letter-spacing: 3px;
  color: white;
  padding-top: 6%;
  /* padding-right: 1%;    */
  /* padding-bottom: 0px; */
  padding-left: 3%;
}

@media (max-width: 540px) {
  .addressStyle {
    font-size: 0.7em;
    font-family: "Quicksand", cursive;
    padding: 0;
    letter-spacing: 3px;
    color: white;
    padding-top: 6%;
    /* padding-right: 1%;    */
    /* padding-bottom: 0px; */
    padding-left: 3%;
    text-align: center;
  }
}

.mediaicons {
  font-size: 3em;
  padding-left: 0.5em;
  text-align: right;
}

@media (max-width: 540px) {
  .mediaicons {
    font-size: 2em;
    padding-left: 0.5em;
    text-align: center;
  }
}
